@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom NextUI resets if needed */
  html {
    scroll-behavior: smooth;
  }
}


:root {
  --background: #F4F2EF;
  --foreground: #242E52;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
